<template>
  <footer class="zd-footer">
  <div class="zd-wrap zd-footer__cont">
    <p class="zd-text-annot zd-footer__copyright">© 2018 ZondaData Inc.</p>
    <a class="zd-footer__sup-help" href="#">
      <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" d="M0 0h24v24H0z"/><circle cx="12" cy="12" r="11.5" stroke="currentColor"/>
        <path fill="none" d="M3 3h18v18H3z"/>
        <path d="M12 15.156c0-.956.338-1.835 1.012-2.51l.957-.956c.562-.506.844-1.238.844-1.969v-.112A2.82
                 2.82 0 0 0 12 6.796a2.82 2.82 0 0 0-2.813 2.813v.056c0 .213.026.438.076.658M12 17.186v.3" 
                 stroke="currentColor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" 
                 stroke-linejoin="round"/></svg>Support & help
    </a>
  </div>
  </footer>
</template>

<script>
export default {
  name: 'footer-bar',
};
</script>

<style>

</style>
