<template>
  <header class="zd-header">
  <div class="zd-wrap zd-header__cont">

    <div class="zd-header__left">
      <router-link :to="{path: '/'}" class="zd-header__logo">
        <i class="zd-icons bg-zd-logo"></i>
      </router-link>

      <nav class="zd-header__nav">
        <ul class="zd-header__nav__list">
          <li class="zd-header__nav__list__item">
            <router-link :to="{name: 'modelsList'}" class="zd-text-reg zd-header__nav__link">
              Models</router-link>
          </li>
          <li class="zd-header__nav__list__item">
            <a href="#" class="zd-text-reg zd-header__nav__link">Files</a>
          </li>
          <li class="zd-header__nav__list__item">
            <a href="#" class="zd-text-reg zd-header__nav__link">Reports</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="zd-header__right">
      <div class="zd-dropdown zd-dropdown--shadow zd-account"
           :class="{'show': isShow}"
           ref="dropdown">
        <button class="zd-dropdown__btn zd-account__btn"
                :title="user.name"
                ref="button"
                @click="toggleDropdown" >
          <div class="zd-account__img" :class="{'zd-img-stub' : !imgPath }">
            <img class="zd-img" :src="imgPath" v-if="imgPath">
          </div>
          <span class="zd-head-h6 zd-dropdown__name zd-text-elips zd-account__name">{{user.email}}</span>
          <i class="zd-dropdown__arrow"></i>
        </button>
        <ul class="zd-dropdown__list zd-account__options__list" ref="listContent">
          <li>
            <a class="zd-text-reg zd-text-elips zd-dropdown__option" href="#">Settings</a>
          </li>
          <li>
            <router-link :to="{ name: 'login' }" class="zd-text-reg zd-text-elips zd-dropdown__option">Sign out</router-link>
            <!--<a class="zd-text-reg zd-text-elips zd-dropdown__option" href="#">Sign out</a>-->
          </li>
        </ul>
        </div>
      </div>

    </div>
  </header>
</template>

<script>
import generateEvent from '@/assets/js/createNewEvent'
import findParent from '@/assets/js/findParent'

import parameters from "@/configs/parameters";

export default {
  name: 'head-bar',
  data () {
    return {
      user: {
        name: 'Zonda',
        email: parameters.auth.log,
        avatar: '',
      },
      isShow: false,
      isTouchDevice: !!("ontouchstart" in window || navigator.maxTouchPoints),
    };
  },
  mounted () {
    window.addEventListener('dropdown-open', this.handlerOpenEvent);
    if (this.isTouchDevice) {
      window.addEventListener("touchend", this.handlerOutClick);
    } else {
      window.addEventListener("click", this.handlerOutClick);
    }
  },
  destroyed () {
    window.removeEventListener('dropdown-open', this.handlerOpenEvent);
    if (this.isTouchDevice) {
      window.removeEventListener("touchend", this.handlerOutClick);
    } else {
      window.removeEventListener("click", this.handlerOutClick);
    }
  },
  methods: {
    toggleDropdown(e) {
      let parent = this.$refs.dropdown;

      if (!this.isShow) {
        generateEvent(window, 'dropdown-open', {
          elem: parent
        });
      } else {
        generateEvent(window, 'dropdown-close', {
          elem: parent
        });
      }

      this.isShow = !this.isShow;

      if (e) e.stopPropagation();
    },
    selectItem(item, isToggle = true) {
      if (isToggle) this.toggleDropdown()
    },
    handlerOutClick(e) {
      if (findParent(e.target, this.$refs.button) ||
        !findParent(e.target, this.$refs.listContent)
      ) {
        this.isShow = false;
      }
    },
    handlerOpenEvent(e) {
      if (e.detail.elem !== this.$refs.dropdown && this.$refs.dropdown) {
        this.isShow = false;
      }
    },
  },
  computed: {
    imgPath() {
      if (this.user && this.user.avatar && this.user.avatar.includes('http')) {
        return this.user.avatar;
      } else {
        return this.user && this.user.avatar ? this.user.avatar : null;
      }
    }
  }
};
</script>

<style lang="scss">
.zd-account {
  --mainColor: var(--accent-1);
  --borderColor: var(--accent-4);
  font-size: 40px;

  button{
    border: none;
  }
  &__img {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right: 15px;
  }

  &__name {
    max-width: 200px;
  }
}
</style>
