<template>
  <div class="zd-input-text">
     <label class="zd-checkbox">
        <input type="checkbox" v-model="isActive" @change="$emit('changeActive', isActive)">
        <span></span>
      </label>
    <input class="zd-text-reg zd-text-elips" type="text" v-model="editField" @change="$emit('changeField', editField)">
  </div>
</template>

<script>
export default {
  name: 'table-header',
  props: {
    field: Object,
  },
  data() {
    return {
      editField: this.field.title,
      isActive: this.field.active,
    };
  },
};
</script>

<style>

</style>
