<template>
  <div class="zd-container">
    <!--<iframe id="vizContainer" src="https://public.tableau.com/profile/alex8251#!/vizhome/ModelReport_0/DashboardFinal2?publish=yes" frameborder="0" width="100%" height="800"></iframe>-->

    <div ref="tableuaContainer" style="width: 100%; height: 800px;"></div>

    <p style="margin: 20px 0;text-align: center;"><button type="button" @click="exportToXLSX"
                                 :disabled="!enableListen" class="zd-btn">Export to
      xlsx</button></p>

    <!--<table>-->
    <!--<tr v-for="row in results" :class="{'error': row.error_code}"-->
    <!--:data-error="row.error_code">-->
    <!--<td v-for="(item, key) in row" v-if="key !== 'error_code'">-->
    <!--<p>{{item}}</p>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->
  </div>
</template>

<script>
  import * as Papa from 'papaparse';
  import XLSX from 'xlsx';

  import tableauCall from '@/assets/js/tableau';
  import convertToCSV from '@/assets/js/convertJSONToCSV';

  let script;

  const url = "https://public.tableau.com/views/ModelReport/Dashboard1";

  export default {
    name: 'dashboard',
    data() {
      return {
        enableListen: true,
        countSelectRows: undefined,
        enableExport: true,
      };
    },
    created() {
      if (this.results.length === 0) {
        const selectedId = localStorage.getItem('currentModel');
        if (selectedId) {
          this.$router.push({name: 'model', params: {id: selectedId}});
        } else {
          this.$router.push({name: 'models-list'});
        }
      }

    },
    mounted() {
      script = document.createElement('script');
      script.src = "https://public.tableau.com/javascripts/api/tableau-2.2.2.min.js";
      script.onload = () => {
        tableauCall({
            elem: this.$refs.tableuaContainer,
            path: url
          },
          this.onFilterChange);
      };
      document.body.appendChild(script);
    },
    destroyed() {
      script.remove();
      delete window.tableau;
    },
    methods: {
      onFilterChange(filterEvent) {
        this.enableExport = false;
        if (this.enableListen) {
          filterEvent.getFilterAsync()
            .then(filter => {
              this.countSelectRows = filter.getMax().value;
              this.enableListen = true;
              this.enableExport = true;
            });
          this.enableListen = false;
        }
      },
      exportToXLSX() {
        const result = this.results.slice(0, this.countSelectRows);
        const header = Object.keys(result[0]);

        const blobCSV = convertToCSV( JSON.stringify(result) );

        Papa.parse(blobCSV, {
          skipEmptyLines: true,
          complete: (results) => {
            const data = results.data;
            data.unshift(header);
            const worksheet = XLSX.utils.aoa_to_sheet(data);
            const new_workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(new_workbook, worksheet, "SheetJS");
            XLSX.writeFile(new_workbook, 'file.xlsx');
          }
        });

      },
    },
    computed: {
      results() {

        const array =
          this.$store.getters.result
            .sort((a,b) => b.prediction - a.prediction)
            .filter(item => !item.error_code);

        array.forEach( item => delete item.error_code );

        return array;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .zd-container {
    /*margin-left: -80px;*/
    /*width: 1400px;*/
    overflow: hidden;
  }
  table {
    width: 100%;
  }
  .error {
    position: relative;
    color: red;

    &:after {
      position: absolute;
      color: red;
      font-size: 8px;
      /*top: 0;*/
      right: 0;
      content: attr(data-error);
    }
  }

  p {
    button {
      margin: 0 auto;
    }
  }
</style>
