<template>
  <div class="zd-models-list">
    <div class="zd-models-list__head">
      <h2 class="zd-head-h2 zd-models-list__title">Models {{models.length}}</h2>

      <label class="zd-input-search">
        <input class="zd-text-reg"
               :class="{'zd-input-search--focus': inFocus}"
               type="text"
               placeholder="Find a model"
               v-model.trim="search.input">
        <i class="zd-icons bg-inpt-search"></i>
        <span></span>
      </label>
    </div>

    <div class="zd-models-list__grid">
      <router-link :to="{name: 'model', params: {id: model.key}}"
                   class="zd-container zd-models-list__block" v-for="model in filteredModel"
                   :key="model.key">
        <h5 class="zd-head-h5 zd-title-text">{{model.data.name}}</h5>
        <p class="zd-subtitle-text zd-models-list__block__info">
          <span class="zd-models-list__block__info__files">
            <i class="zd-icons bg-envelope"></i>
            14 files</span>
          <span class="zd-models-list__block__info__data">{{model.data.date_create |
            moment('MMMM Do, YYYY')}}</span>
        </p>
        <p class="zd-text-sub zd-models-list__block__desc">{{model.data.description |
          splitText}}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
  import firebase from 'firebase';

  import { mapActions } from 'vuex';

  import configFirebase from '@/configs/firebase';

  export default {
    name: 'models-list',
    data() {
      return {
        search: {
          input: '',
        },
        models: [],
      };
    },
    filters: {
      splitText(value) {
        return value.length <= 100 ? value : `${value.slice(0, 97)}...`;
      },
    },
    created() {
      this.showSpinner('SPINNER');

      localStorage.removeItem('currentModel');
      this.removeModel();

      const database = firebase.database();

      database.ref(configFirebase.path.database.models).on('value', (snapshot) => {
        if (snapshot.val()) {
          this.models =
            Object.keys(snapshot.val()).map(item => ({
              key: item,
              data: snapshot.val()[item],
            }))
              .reverse();

          this.hideSpinner();
        }
      });

      // const database = firebase.database();

      // const date = new Date().getTime();
      //
      // const key = database.ref(configFirebase.path.database.models).push().key;
      //
      // const toDatabase = {
      //   name: 'Long-Term Value Optimization Model',
      //   description: 'Long-term value is the most important WIN fundraising metric. The historic data of your organization will show you how you should build a five-year (or 10 year) projection for newer classes of donors. If we include this historic data in features to the machine learning predictive models, we can optimize the main factors that impact net long-term value: cost to acquire a new donor, average first-gift amount, second gift conversion, gift frequency.',
      //   required: ['firstname','lastname','address','zip'],
      //   date_create: date,
      // };
      //
      // database.ref(`${configFirebase.path.database.models}/${key}`).set(toDatabase);
    },
    methods: {
      ...mapActions({
        showSpinner: 'showSpinner',
        hideSpinner: 'hideSpinner',
        removeModel: 'model/removeModel',
      }),
    },
    computed: {
      inFocus() {
        return this.search.input !== '';
      },
      filteredModel() {
        return this.models.filter(model =>
          model.data.name.toLowerCase().includes(this.search.input.toLowerCase()));
      },
    },
  };
</script>

<style lang="scss">

</style>
