<template>
  <div>
  <div class="zd-container zd-model">
    <router-link :to="{name: 'modelsList'}" class="zd-link zd-link--arrow-left">
      Back to list</router-link>

    <h2 class="zd-head-h2 zd-separ zd-model__title">
      <i class="zd-icons bg-envelope"></i>
      {{model.name}}
    </h2>

    <div class="zd-separ zd-model__run-desc">
      <div class="zd-model__desc">
        <h6 class="zd-head-h6 zd-subtitle-text">Description</h6>
        <p class="zd-text-sub zd-subtitle-text" ref="description">
          <template v-if="splitTextConf.showDetails">{{model.description}}</template>
          <template v-else>{{model.description | splitText}}</template>
        </p>
        <a href="#" class="zd-link zd-text-upper" @click.prevent="toggleText"
           v-if="model.description.length > splitTextConf.lengthLetters">
          <template v-if="!splitTextConf.showDetails">VIEW DETAILS</template>
          <template v-else>HIDE</template>
        </a>
      </div>

      <div class="zd-model__run">
        <h6 class="zd-head-h6 zd-subtitle-text">Run model</h6>
        <label type="button" class="zd-btn zd-btn--two-line zd-btn--shadow">
          <input type="file" @change="uploadFile" ref="inputFile" hidden>
          <span class="zd-head-h6">Upload & Run</span>
          <!--<span class="zd-text-annot">CSV format, less than {{convertToMb()}}Mb and {{maxRows}} rows</span>-->
          <span class="zd-text-annot">CSV format, less than {{convertToMb()}}Mb</span>
        </label>
        <a href="template" download class="zd-btn zd-btn--two-line  zd-btn--cut"
           @click.prevent="downloadTemplate">
          <span class="zd-head-h6">Download template</span>
          <span class="zd-text-annot">In CSV or MCD format</span>
        </a>
      </div>
    </div>

    <div class="zd-model__table" v-if="result">
      <p class="zd-head-h6 zd-subtitle-text">Datasets & perfomance</p>
      <table class="zd-table zd-text-sub">
        <thead>
          <tr>
            <th>Date</th>
            <th>File size</th>
            <th>Lines</th>
            <th>Source file</th>
            <th>Actions</th>
          </tr>
        </thead>
        <paginate
          name="table"
          :list="result"
          :per="paginator.perPage"
          tag="tbody"
        >
          <tr v-for="row in paginated('table')">
            <td class="zd-text-elips" :title="row.date_create | moment('Do MMM, YYYY')">{{row.date_create | moment('Do MMM, YYYY')}}</td>
            <td class="zd-text-elips">{{row.file_size}} B</td>
            <td class="zd-text-elips">{{row.lines}}</td>
            <td class="zd-text-elips">{{row.name}}</td>
            <td>
              <a href="show" class="zd-link" title="Show" @click.prevent="showResult(row)">
                <i class="zd-icons bg-search"></i>
              </a>
              <a href="download" class="zd-link" download title="Download"
                 @click.prevent="downloadCSV(row)">
                <i class="zd-icons bg-down"></i>
              </a>
            </td>
          </tr>
        </paginate>
      </table>
      <paginate-links
        for="table"
        :hide-single-page="true"
        :show-step-links="true"
      />
    </div>
  </div>

    <div class="zd-recent-models">
      <h5 class="zd-head-h5 zd-title-text">Recent models</h5>
      <ul class="zd-recent-models__list">
        <li class="zd-recent-models__list__item">
          <a href="#" class="zd-link zd-link--arrow-right zd-recent-models__link">Donation rate through email listing</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */

import firebase from 'firebase';
import * as Papa from 'papaparse';

import { mapGetters, mapActions } from 'vuex';

import configFirebase from '@/configs/firebase';
import parameters from '@/configs/parameters';

const splitTextConf = {
  showDetails: false,
  lengthLetters: 200,
};

export default {
  name: 'model-page',
  data() {
    return {
      splitTextConf: splitTextConf,
      maxRows: parameters.file.max_rows,

      id: this.$route.params.id,
      result: null,
      paginate: ['table'],
      paginator: {
        perPage: 10,
      },
    };
  },
  created() {
    this.hideToastr();
    this.showSpinner('GET MODEL');
    this.removeEditedPosition();

    if (!this.id) {
      const selectedId = localStorage.getItem('currentModel');
       if (selectedId) {
         this.id = selectedId;
      } else {
         this.$router.push({name: 'model-list'});
      }
    }

    localStorage.setItem('currentModel', this.id);

    const database = firebase.database();

    database.ref(configFirebase.path.database.csv).on('value', (snapshot) => {
      if (snapshot.val()) this.result = Object.values(snapshot.val()).map((item) => item).reverse();
    });

    if (!this.model.uploaded) {
      database.ref(`${configFirebase.path.database.models}/${this.id}`).on('value', (snapshot) => {
        const model = snapshot.val();

        const obj = {};
        model.required.map((item, index) => {
          const x = {};
          x[index] = index;
          this.saveEditedPosition(x);
          return obj[index] = item;
        });

        this.addTemplate(obj);
        this.addModel({...model, ...{key: this.id, uploaded: true}});
        this.hideSpinner();
      });
    } else {
      this.hideSpinner();

      const obj = {};
      this.model.required.map((item, index) => {
        const x = {};
        x[index] = index;
        this.saveEditedPosition(x);
        return obj[index] = item;
      });
    }
  },
  destroyed() {
    splitTextConf.showDetails = false;
  },
  mounted() {
    this.$refs.inputFile.value = '';
  },
  methods: {
    ...mapActions({
      showToastr: 'toastr/showToastr',
      hideToastr: 'toastr/hideToastr',
      showSpinner: 'showSpinner',
      hideSpinner: 'hideSpinner',
      addModel: 'model/addModel',
      removeModel: 'model/removeModel',
      addTemplate: 'addTemplate',
      saveResult: 'saveResult',
      saveEditedPosition: 'saveEditedPosition',
      removeEditedPosition: 'removeEditedPosition',
      addFile: 'addFile',
    }),
    generateLink(filename, blob) {
      const link = document.createElement('a');

      link.download = filename;
      link.href = window.URL.createObjectURL(blob);

      document.body.appendChild(link);

      link.onclick = () => {
        setTimeout(() => {
          link.remove();
          window.URL.revokeObjectURL(this.href);
        }, 0);
        return true;
      };

      link.click();
    },
    parseCSV(file) {
      Papa.parse(file, {
        header: true,
        skipEmptyLines: true,
        complete: (results) => {
          if (parameters.file.max_rows && results.data.length > parameters.file.max_rows) {
            const mess = `CSV file has more then ${parameters.file.max_rows} rows`;
            this.showToastr({ text: mess, type: 'error' });
            this.$refs.inputFile.value = '';
            return false;
          }

          // Проверка на колличество входящих колонок в файле
          this.model.required.map((i, index) => {
            if (results.meta.fields.length <= index) {
              const x = {};
              x[index] = null;
              this.saveEditedPosition(x);
            }
            return true;
          });
          const type = file.type ? file.type : file.name.split('').reverse().join('').split('.')[0].split('').reverse().join('');

          this.addFile({
            parse: results,
            name: file.name,
            type,
            size: file.size,
          });
          this.$router.push({ name: 'profiling' });

          return true;
        },
        error: (error) => {
          console.log(error);
        },
      });
    },
    uploadFile(event) {
      const file = event.target.files[0];
      if ((file.type && !file.type.includes('csv')) || (!file.type && !file.name.includes('csv'))) {
        const mess = 'Please select csv file';
        this.showToastr({ text: mess, type: 'error' });
        this.$refs.inputFile.value = '';
        return false;
      }

      if (file.size > parameters.file.max_size) {
        const mess = `Max size of file ${this.convertToMb()}Mb`;
        this.showToastr({ text: mess, type: 'error' });
        this.$refs.inputFile.value = '';
        return false;
      }

      this.hideToastr();

      this.parseCSV(file);

      return true;
    },
    getFromStore(config, callBack) {
      const storage = firebase.storage();

      return storage.ref(`${config.path}/${config.fileName}`).getDownloadURL()
        .then((url) => {
          fetch(url)
            .then(response => response.blob())
            .then((response) => {
              callBack(`${config.fileOriginalName}`, response);
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    showResult(file) {
      this.showSpinner('GET DATA');

      const readFile = (filename, blob) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.saveResult(JSON.parse(event.target.result));

          this.$router.push({ name: 'dashboard' });
        };
        reader.readAsText(blob);
      };

      const filename = `${file.filesID}.json`;
      const path = `${configFirebase.path.store.results}`;

      this.getFromStore(
        { path, fileName: filename, fileOriginalName: file.name },
        readFile,
      );
    },
    downloadCSV(file) {
      const filename = `${file.filesID}.csv`;
      const path = `${configFirebase.path.store.csv}`;

      this.getFromStore(
        { path, fileName: filename, fileOriginalName: file.name },
        this.generateLink,
      );
    },
    downloadTemplate() {
      const csv = Papa.unparse({
        fields: this.model.required,
      });

      this.generateLink('template.csv', new Blob([csv], { type: 'text/csv' }));
    },

    toggleText() {
      const currentHeight = this.$refs.description.scrollHeight;
      this.$refs.description.style.maxHeight = `${currentHeight}px`;

      this.splitTextConf.showDetails = !this.splitTextConf.showDetails;

      this.$nextTick(() => {
        this.$refs.description.style.maxHeight = `${this.$refs.description.scrollHeight}px`;
      });
    },

    convertToMb() {
      return Math.floor(parameters.file.max_size / 1024 / 1024);
    },
  },
  computed: {
    ...mapGetters({
      model: 'model/model',
    }),
  },
  filters: {
    splitText(value) {
      const temp = splitTextConf.lengthLetters - 3;
      return value.length <= splitTextConf.lengthLetters ? value : `${value.slice(0, temp)}...`;
    },
  },
};
</script>

<style scoped>
  .zd-model__desc p {
    overflow:hidden;
    transition:max-height 0.1s;
  }
</style>
