<template>
  <div class="zd-container zd-data-qual-prof">
    <p class="zd-separ zd-data-qual-prof__header">
      <i class="zd-icons bg-envelope"></i>
      <span class="zd-text-lead">{{model.name}}</span>
    </p>

    <div class="zd-data-qual-prof__main"
         ref="main"
         :class="{'zd-data-qual-prof__main--drag': isDrag}">
      <h2 class="zd-head-h2 zd-title-text zd-data-qual-prof__title">Data quality profiling</h2>

      <ul class="zd-data-qual-prof__metric">
        <li class="zd-text-reg zd-data-qual-prof__metric__item">
          <strong>{{toEdit.fields_count}}</strong> — fields loaded
        </li>
        <li class="zd-text-reg zd-data-qual-prof__metric__item">
          <strong>{{toEdit.records_count}}</strong> — records loaded
        </li>
        <!--<li class="zd-text-reg zd-data-qual-prof__metric__item">-->
        <!--<strong>800</strong> — Metric 1-->
        <!--</li>-->
        <!--<li class="zd-text-reg zd-data-qual-prof__metric__item">-->
        <!--<strong>400</strong> — Metric 2-->
        <!--</li>-->
      </ul>

      <div class="zd-data-qual-prof__fields">
        <p class="zd-head-h6 zd-subtitle-text">Fields sequence</p>
        <ul class="zd-data-qual-prof__fields__list">
          <li class="zd-data-qual-prof__fields__list__item"
              v-for="(item, key, index) in toEdit.fields"
              :key="key">
            <dropdown
              :defaultSelected="Object.keys(edited_templates).length > index ?
              edited_templates[index] : null"
              :list="template"
              @select="changePositon(key, $event)"
              :key="key"
            />
          </li>
        </ul>
      </div>

      <div class="zd-data-qual-prof__table" v-if="toEdit.data.length > 0">
        <p class="zd-head-h6 zd-subtitle-text">Fields names & check to process</p>
        <table class="zd-text-sub zd-table" ref="layout" :class="{'zd-table--draging': isDrag}">
          <thead>
          <tr>
            <th></th>
            <th v-for="(cell, key) in toEdit.fields" :key="key">
              <table-header
                :field="cell"
                @changeField="changeField(key, $event)"
                @changeActive="changeActivity(key, $event)"
                :class="{'no-active': !cell.active}"
              />
            </th>
          </tr>
          </thead>
          <paginate
            name="table"
            :list="toEdit.data"
            :per="paginator.perPage"
            tag="tbody"
          >
            <tr v-for="(row, index) in paginated('table')">
              <td>{{currentNumber(index+1)}}</td>
              <td v-for="(cell, key) in row"
                  :key="key"
                  class="zd-text-elips"
                  :class="{'no-active': !cell.active}">
                {{cell.value}}
              </td>
            </tr>
          </paginate>
        </table>
        <div class="zd-data-qual-prof__hor-scroll" v-if="isScrollNeed">
          <div class="zd-data-qual-prof__hor-scroll__thumb" ref="scrollThumb"></div>
        </div>
        <paginate-links
          for="table"
          :hide-single-page="true"
          :show-step-links="true"
        />
      </div>
    </div>
    <div class="zd-data-qual-prof__footer">
      <router-link :to="{name: 'model', params: {id: model.key}}"
                   class="zd-link zd-link--arrow-left">Back & reload file
      </router-link>
      <button type="button"
              class="zd-btn zd-btn--arrow"
              :disabled="validation"
              @click="generateResult"
      >Check & run</button>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-unused-vars */
  /* eslint-disable no-param-reassign */
  /* eslint-disable new-cap */
  import * as Papa from 'papaparse';

  import TableHeader from './upload-partials/TableHeader.vue';
  import Dropdown from './../ui/Dropdown.vue';

  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: 'profiling-page',
    components: {
      TableHeader,
      Dropdown,
    },
    data() {
      return {
        id: null,
        toEdit: {
          fields_count: 0,
          records_count: 0,
          data: [],
          fields: {},
        },
        paginate: ['table'],
        paginator: {
          perPage: 20,
        },
        wasChangeActive: false,
        isDrag: false,
        isScrollNeed: false
      };
    },
    created() {
      if (this.model.uploaded) {
        this.prepareToEdit();
      } else {
        const selectedId = localStorage.getItem("currentModel");
        if (selectedId) {
          this.$router.push({ name: 'model', params: { id: selectedId } });
        } else {
          this.$router.push({ name: 'models-list' });
        }
      }
    },
    mounted() {
      if (
        this.model.uploaded &&
        this.$refs.layout && this.$refs.layout.offsetWidth > this.$refs.main.offsetWidth
      ) {
        this.isScrollNeed = true;

        this.mouseDown = false;
        this.overflowTable = this.$refs.layout.offsetWidth - this.$refs.main.offsetWidth;
        this.startDragPoint = 0;
        this.dragElem = null;
        this.thumbScrollLeft = 0;

        this.$refs.layout.addEventListener('mousedown', this.startDrag, false);
        this.$refs.main.addEventListener('mousemove', this.moveDrag, false);
        this.$refs.main.addEventListener('mouseup', this.endDrag, false);
        this.$refs.layout.addEventListener('mouseleave', this.endDrag, false);

        this.$refs.layout.addEventListener('dragstart', this.nativeDragPrevent, false);

        this.$nextTick(() => {
          this.$refs.scrollThumb.style.width = `${Math.pow(this.$refs.main.offsetWidth, 2) / this.$refs.layout.offsetWidth}px`;
          this.$refs.scrollThumb.addEventListener('mousedown', this.startDrag, false);
          this.$refs.scrollThumb.addEventListener('dragstart', this.nativeDragPrevent, false);
          this.overflowThumb = this.$refs.scrollThumb.parentElement.offsetWidth -  this.$refs.scrollThumb.offsetWidth;
        });
      }
    },
    methods: {
      ...mapActions({
        saveEditedPosition: 'saveEditedPosition',
        saveEdited: 'saveEdited',
        saveProfiling: 'saveProfiling',
        showToastr: 'toastr/showToastr',
        hideToastr: 'toastr/hideToastr',


        showSpinner: 'showSpinner',
        hideSpinner: 'hideSpinner',
        addModel: 'model/addModel',
        removeModel: 'model/removeModel',
        addTemplate: 'addTemplate',
        saveResult: 'saveResult',

        removeEditedPosition: 'removeEditedPosition',
        addFile: 'addFile',
      }),
      prepareToEdit() {
        if (this.edited_fields) {
          this.toEdit.fields = this.edited_fields;
        } else {
          let index = 0;

          this.results.meta.fields.map((cell) => {
            if (this.toEdit.fields[cell] !== undefined) {
              cell += new Date.now();
            }

            this.toEdit.fields[cell] = {
              active: true,
              title: cell,
              field: index,
            };

            index += 1;
            return true;
          });
        }

        if (this.edited_data.length > 0) {
          this.toEdit.data = this.edited_data;
        } else {
          this.toEdit.data = this.results.data.map((row) => {
            const item = row;
            const temp = {};

            const that = this;

            Object.entries(item).forEach(([key, value]) => {
              temp[key] = {
                field: that.toEdit.fields[key].field,
                value,
                active: that.toEdit.fields[key].active,
              };
            });
            return temp;
          });
        }

        this.toEdit.records_count = this.results.data.length;

        this.toEdit.fields_count = this.results.meta.fields.length;
      },
      changeField(key, val) {
        this.toEdit.fields[key].title = val;
      },
      changeActivity(key, val) {
        this.toEdit.fields[key].active = val;

        this.wasChangeActive = true;

        this.toEdit.data.map((row) => {
          row[key].active = val;
          return true;
        });
      },
      changePositon(key, val) {
        const field = this.toEdit.fields[key];
        const index = Object.keys(this.toEdit.fields)
          .findIndex(item => item === key);

        const obj = {};

        let needNew = true;

        if (this.edited_templates) {
          Object.keys(this.edited_templates).find((item) => {
            if (item === index) needNew = false;
            return true;
          });
        }

        obj[index] = val.value;

        if (val.store) this.saveEditedPosition(obj);

        field.field = val.value;
        this.toEdit.data.map((row) => {
          row[key].field = val.value;
          return true;
        });
      },
      generateResult() {
        if (!!this.validation) return false;

        const temp = this.toEdit.data.map((row) => {
          const resultRow = [];

          Object.entries(row).forEach(([key, item]) => {
            if (item.active) {
              resultRow[key] = item;
            }
          });

          const key = Object.entries(resultRow);

          const OBJ_TO_PROCESSING = {};
          const OBJ_TO_SAVE = {};

          key.map((item) => {
            const fieldKey = this.toEdit.fields[item[0]].title;

            if (this.getTemplateColumn(item[1].field)) {
              OBJ_TO_PROCESSING[this.getTemplateColumn(item[1].field)] =
                item[1].value;
            }

            OBJ_TO_SAVE[fieldKey] = item[1].value;

            return true;
          });

          return {
            to_summary: resultRow,
            to_process: OBJ_TO_PROCESSING,
            to_save: OBJ_TO_SAVE,
          };
        });

        const TO_PROCESS = [];
        const TO_SAVE = [];

        temp.map((item) => {
          TO_PROCESS.push(item.to_process);
          TO_SAVE.push(item.to_save);

          return true;
        });

        const that = this;

        this.saveEdited({
          fields: this.toEdit.fields,
          data: this.toEdit.data,
        });

        const csv = Papa.unparse(TO_SAVE);

        this.saveProfiling({ csv, json: TO_PROCESS });

        this.$router.push({ name: 'summary' });
      },
      getTemplateColumn(index) {
        return this.template[index] ? this.template[index].name : false;
      },
      currentNumber(val) {
        return val + (this.paginate.table.page * this.paginator.perPage);
      },
      startDrag(e) {
        this.mouseDown = true;
        this.startDragPoint = e.clientX;
        this.isDrag = true;
        this.dragElem = e.target;

        while(this.dragElem !== document.body && this.dragElem !== this.$refs.layout && this.dragElem !== this.$refs.scrollThumb){
          this.dragElem = this.dragElem.parentElement;
        }
      },
      moveDrag(e) {
        if (!this.mouseDown) return;
        let diff = e.clientX - this.startDragPoint;

        if (this.dragElem === this.$refs.layout) {
          let scrollLeft = parseInt(
            getComputedStyle(this.$refs.main).getPropertyValue('--scrollLeft'), 10
          );
          let tempScroll = scrollLeft + diff;

          if (tempScroll > 0) {
            tempScroll = 0;
          } else if ( tempScroll < -this.overflowTable) {
            tempScroll = -this.overflowTable;
          }

          this.$refs.main.style.setProperty('--scrollLeft', tempScroll);

          let perScroll = Math.abs(tempScroll / this.overflowTable);
          this.thumbScrollLeft = this.overflowThumb * perScroll;
          this.$refs.scrollThumb.style.left = `${this.thumbScrollLeft}px`;
        }

        if (this.dragElem === this.$refs.scrollThumb) {
          let tempScroll = this.thumbScrollLeft + diff;

          if (tempScroll < 0) {
            tempScroll = 0;
          } else if (tempScroll > this.overflowThumb) {
            tempScroll = this.overflowThumb;
          }

          this.thumbScrollLeft = tempScroll;
          this.$refs.scrollThumb.style.left = `${this.thumbScrollLeft}px`;

          let perScroll = tempScroll / this.overflowThumb;
          this.$refs.main.style.setProperty('--scrollLeft', perScroll * -this.overflowTable);
        }
        this.startDragPoint = e.clientX;
      },
      endDrag(e) {
        this.mouseDown = false;
        this.isDrag = false;
      },
      nativeDragPrevent(e){
        e.preventDefault();
        e.stopPropagation();
        return false;
      },
    },
    computed: {
      ...mapGetters({
        template: 'template',
        model: 'model/model',
        edited_templates: 'edited_templates',
        edited_fields: 'edited_fields',
        edited_data: 'edited_data',
        results: 'file'
      }),
      validation() {
        let notFound = '';
        this.template.map((item) => {
          const resPosition = Object.values(this.edited_templates).find((val) => val ===
            item.value);

          const resActive = Object.values(this.toEdit.fields).find((val) => {
            if (val.field === null) return false;
            if (val.field === item.value) {
              return val.active;
            }
          });

          if (resPosition === undefined || resActive === undefined) notFound += ` ${item.name},`;
        });

        if (this.wasChangeActive) {}
        this.wasChangeActive = false;

        const text = !notFound ? notFound : notFound.slice(0, -1);

        if (!!text) {
          const temp = `This model requires: <strong>${text}</strong>`;
          this.showToastr({ text: temp, type: 'error' });
          return true;
        } else {
          this.hideToastr();
          return false;
        }
      },
    },
  };
</script>

<style lang="scss">
  .zd-data-qual-prof__fields__list,
  .zd-table {
    position: relative;
    left: calc(var(--scrollLeft) * 1px);

    /*width: 2000px;*/
  }
  .zd-data-qual-prof__main {
    --scrollLeft: 0;
    overflow: hidden;
    &--drag {
      cursor: move;
    }
  }
  .zd-table--draging {
    td {
      user-select: none;
    }
  }
  .zd-data-qual-prof__hor-scroll {
    font-size: 10px;
    height: 0.5em;
    margin: 0.5em auto;
    width: 100%;
    border-radius: 2em;
    background-color: var(--accent-4);

    &__thumb {
      cursor: move;
      border-radius: inherit;
      height: 100%;
      background-color: var(--accent-2);
      position: relative;
    }
  }
  .no-active {
    opacity: 0.4;
    user-select: none;
  }
</style>
