<template>
  <div class="zd-center-wrap">
    <div class="zd-container zd-container--med zd-summary" v-if="!state.showProgress">
      <div class="zd-container__inner">
        <i class="zd-icons bg-two-clouds"></i>
          <p class="zd-head-h2 zd-title-text zd-container__title">Fields Summary</p>

          <table class="zd-text-reg zd-summary__table">
            <thead>
              <tr>
                <th>Field template</th>
                <th>Name</th>
                <th>Records</th>
              </tr>
            </thead>
            <tbody>
            <tr v-for="(row, key, index) in edited_fields" :key="key">
              <td><span>{{getOriginalTemplateFields(index)}}</span></td>
              <td><span>{{row.name}}</span></td>
              <td><span>{{getCountRecords(key)}}</span></td>
            </tr>
            </tbody>
          </table>

      </div>
      <div class="zd-summary__footer">
        <button type="button"
                 class="zd-btn"
                  @click.once="startProcessAndUpload">Confirm and upload</button>
        <router-link :to="{name: 'profiling'}" class="zd-link zd-link--arrow-left" >Back to data quality profiling</router-link>
      </div>
    </div>
    <div class="zd-container zd-container--med zd-progressing" v-else>
      <div class="zd-container__inner">
        <i class="zd-icons bg-cloud-shape"></i>
        <p class="zd-head-h2 zd-title-text zd-container__title">Processing...</p>

        <div class="zd-prog-bar">
          <div class="zd-prog-bar__value" @animationend="endAnimation"></div>
        </div>

        <ul class="zd-progressing__task-list">
          <li class="zd-progressing__task-list__item">
            <span class="zd-head-h6 zd-text-elips zd-progressing__task__name">Analyzing data inegrity</span>
            <span class="zd-progressing__task__dots"></span>
            <i class="zd-progressing__task__icon">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.04981 16.1163C13.1919 16.1163 16.5498 12.7585 16.5498 8.61633C16.5498 4.4742 13.1919 1.11633 9.04981 1.11633C4.90767 1.11633 1.54981 4.4742 1.54981 8.61633C1.54981 12.7585 4.90767 16.1163 9.04981 16.1163Z" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:100; stroke-dashoffset:100; animation:pathAnim 1s ease 1s forwards;" />
                <path d="M4.54981 9.11633L7.54981 12.1163L13.5498 6.11633" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:50; stroke-dashoffset:50; animation:pathAnim 1s ease 1.5s forwards;"/>
              </svg>
            </i>
            <span class="zd-text-reg zd-progressing__task__status">Done</span>
          </li>
          <li class="zd-progressing__task-list__item">
            <span class="zd-head-h6 zd-text-elips zd-progressing__task__name">Applying current model</span>
            <span class="zd-progressing__task__dots"></span>
            <i class="zd-progressing__task__icon">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.04981 16.1163C13.1919 16.1163 16.5498 12.7585 16.5498 8.61633C16.5498 4.4742 13.1919 1.11633 9.04981 1.11633C4.90767 1.11633 1.54981 4.4742 1.54981 8.61633C1.54981 12.7585 4.90767 16.1163 9.04981 16.1163Z" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:100; stroke-dashoffset:100; animation:pathAnim 1s ease 4s forwards;" />
                <path d="M4.54981 9.11633L7.54981 12.1163L13.5498 6.11633" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:50; stroke-dashoffset:50; animation:pathAnim 1s ease 4.5s forwards;"/>
              </svg>
            </i>
            <span class="zd-text-reg zd-progressing__task__status">Done</span>
          </li>
          <li class="zd-progressing__task-list__item">
            <span class="zd-head-h6 zd-text-elips zd-progressing__task__name">Determining patterns</span>
            <span class="zd-progressing__task__dots"></span>
            <i class="zd-progressing__task__icon">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.04981 16.1163C13.1919 16.1163 16.5498 12.7585 16.5498 8.61633C16.5498 4.4742 13.1919 1.11633 9.04981 1.11633C4.90767 1.11633 1.54981 4.4742 1.54981 8.61633C1.54981 12.7585 4.90767 16.1163 9.04981 16.1163Z" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:100; stroke-dashoffset:100; animation:pathAnim 1s ease 8s forwards;" />
                <path d="M4.54981 9.11633L7.54981 12.1163L13.5498 6.11633" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:50; stroke-dashoffset:50; animation:pathAnim 1s ease 8.5s forwards;"/>
              </svg>
            </i>
            <span class="zd-text-reg zd-progressing__task__status">Done</span>
          </li>
          <li class="zd-progressing__task-list__item">
            <span class="zd-head-h6 zd-text-elips zd-progressing__task__name">Generation output</span>
            <span class="zd-progressing__task__dots"></span>
            <i class="zd-progressing__task__icon">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.04981 16.1163C13.1919 16.1163 16.5498 12.7585 16.5498 8.61633C16.5498 4.4742 13.1919 1.11633 9.04981 1.11633C4.90767 1.11633 1.54981 4.4742 1.54981 8.61633C1.54981 12.7585 4.90767 16.1163 9.04981 16.1163Z" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:100; stroke-dashoffset:100; animation:pathAnim 1s ease 11s forwards;" />
                <path d="M4.54981 9.11633L7.54981 12.1163L13.5498 6.11633" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:50; stroke-dashoffset:50; animation:pathAnim 1s ease 11.5s forwards;"/>
              </svg>
            </i>
            <span class="zd-text-reg zd-progressing__task__status">Done</span>
          </li>
          <li class="zd-progressing__task-list__item">
            <span class="zd-head-h6 zd-text-elips zd-progressing__task__name">Forming reports</span>
            <span class="zd-progressing__task__dots"></span>
            <i class="zd-progressing__task__icon">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.04981 16.1163C13.1919 16.1163 16.5498 12.7585 16.5498 8.61633C16.5498 4.4742 13.1919 1.11633 9.04981 1.11633C4.90767 1.11633 1.54981 4.4742 1.54981 8.61633C1.54981 12.7585 4.90767 16.1163 9.04981 16.1163Z" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:100; stroke-dashoffset:100; animation:pathAnim 1s ease 15s forwards;" />
                <path d="M4.54981 9.11633L7.54981 12.1163L13.5498 6.11633" stroke="#55E485" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="stroke-dasharray:50; stroke-dashoffset:50; animation:pathAnim 1s ease 15.5s forwards;"/>
              </svg>
            </i>
            <span class="zd-text-reg zd-progressing__task__status">Done</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

import { mapGetters, mapActions } from 'vuex';

import configApi from "@/configs/process_api";
import configFirebase from "@/configs/firebase";

export default {
  name: "summary-page",
  data() {
    return {
      state: {
        showProgress: false,
        isFinishSubmit: false,
        isFinishAnimation: false
      }
    };
  },
  created() {
    if (!this.profiling_csv) {
      if (this.model.key) {
        this.$router.push({ name: "model", params: { id: this.model.key } });
      } else {
        this.$router.push({ name: "models-list" });
      }
    }
  },
  destroyed() {

  },
  methods: {
    ...mapActions({
      saveProfiling: 'saveProfiling',
      saveResult: 'saveResult',
    }),
    startProcessAndUpload() {
      this.sendToProcess();

      this.state.showProgress = true;
    },
    sendToStorage(key, csv, result) {
      const fileNameCSV = `${key}.csv`;
      const fileNameJSON = `${key}.json`;

      const storage = firebase.storage().ref();

      const mimeType = this.file_type;

      const blobCSV = new Blob([csv], { type: mimeType });
      const blobJSON = new Blob([JSON.stringify(result)], {
        type: "application/json"
      });

      storage
        .child(`${configFirebase.path.store.csv}/${fileNameCSV}`)
        .put(blobCSV);
      storage
        .child(`${configFirebase.path.store.results}/${fileNameJSON}`)
        .put(blobJSON);
    },
    sendToDataBase(result) {
      const csv = this.profiling_csv;
      const database = firebase.database();

      const date = new Date().getTime();

      const key = database.ref(configFirebase.path.database.csv).push().key;

      const name = this.file_name;

      const toDatabase = {
        author: "author",
        filesID: key,
        file_size: this.file_size,
        lines: this.edited_data.length,
        name,
        date_create: date
      };

      database
        .ref(`${configFirebase.path.database.csv}/${key}`)
        .set(toDatabase);

      this.sendToStorage(key, csv, result);
    },
    sendToProcess() {
      const headers = () => {
        const makeBaseAuth = (user, pass) => {
          let tok = user + ":" + pass;
          let hash = btoa(tok);
          return "Basic " + hash;
        };

        let headers = new Headers();
        headers.append(
          "Authorization",
          makeBaseAuth(configApi.auth.Username, configApi.auth.Password)
        );
        headers.append("Content-Type", "application/json");

        return headers;
      };

      const that = this;

      fetch(configApi.url, {
        method: configApi.method,
        body: JSON.stringify({ list_to_score: that.profiling_json }),
        headers: headers()
      })
        .then(response => response.json())
        .then(response => {
          this.handlerRequest(response);
        })
        .catch(error => {
          console.log(error);
        });
    },

    handlerRequest(response) {
      this.saveResult(response.scored_list);

      this.sendToDataBase(response.scored_list);

      this.state.isFinishSubmit = true;

      this.checkFinish();
    },
    getCountRecords(key) {
      let sum = 0;
      this.edited_data.map(item => {
        sum += item[key] ? 1 : 0;
      });
      return sum;
    },
    getOriginalTemplateFields(key) {
      return this.template[key].name;
    },

    endAnimation() {
      this.state.isFinishAnimation = true;

      this.checkFinish();
    },

    checkFinish() {
      if (this.state.isFinishAnimation && this.state.isFinishSubmit) {
        this.saveProfiling({ csv: null, json: [] });
        this.$router.push({ name: 'dashboard' });
      }

    }
  },
  computed: {
    ...mapGetters({
      edited_start_fields: 'edited_fields',
      edited_data: 'edited_data',
      file_type: 'file_type',
      file_name: 'file_name',
      file_size: 'file_size',
      template_original: 'template',
      model: 'model/model',
      profiling_csv: 'profiling_csv',
      profiling_json: 'profiling_json',
    }),

    edited_fields() {
      const fields = this.edited_start_fields;
      const sortable = [];

      for (const item in fields) {
        if (fields[item].field !== null) {
          sortable.push([item, fields[item].field, fields[item]]);
        }
      }

      const res = sortable.sort(function(a, b) {
        return a[1] - b[1];
      });

      const obj = {};

      res.map(item => {
        if (item[2].active) {
          obj[item[0]] = {
            name: item[2].title,
            field: item[2].field
          };
        }

        return true;
      });

      return obj;
    },

    template() {
      const template = this.template_original;
      const temp = [];

      template.map(item => {
        Object.keys(this.edited_fields).find(key => {
          if (this.edited_fields[key].field === item.value) temp.push(item);
        });
      });

      return temp;
    },
  }
};
</script>

<style lang="scss">
.zd-prog-bar__value {
  animation: progBar 16s linear forwards;
}
.zd-progressing__task__dots::before {
  // transform: translateX(-100%);
  width: 0%;
  animation: dotsAnim 1s cubic-bezier(0.01, 0.06, 0.73, 1.55) forwards;
}
.zd-progressing__task__name {
  color: var(--accent-7);
  animation: nameAnim 0.5s linear 1s forwards;
}
.zd-progressing__task__icon {
}
.zd-progressing__task__status {
  opacity: 0;
  transform: translateX(10px);
  animation: doneAnim 0.5s ease-in-out 1.5s forwards;
}
.zd-progressing__task-list__item:nth-of-type(2) {
  .zd-progressing__task__status {
    animation-delay: 4.5s;
  }
  .zd-progressing__task__dots::before {
    animation-delay: 3s;
  }
  .zd-progressing__task__name {
    animation-delay: 4s;
  }
}
.zd-progressing__task-list__item:nth-of-type(3) {
  .zd-progressing__task__dots::before {
    animation-delay: 7s;
  }
  .zd-progressing__task__status {
    animation-delay: 8.5s;
  }
  .zd-progressing__task__name {
    animation-delay: 8s;
  }
}

.zd-progressing__task-list__item:nth-of-type(4) {
  .zd-progressing__task__dots::before {
    animation-delay: 10s;
  }
  .zd-progressing__task__status {
    animation-delay: 11.5s;
  }
  .zd-progressing__task__name {
    animation-delay: 11s;
  }
}

.zd-progressing__task-list__item:nth-of-type(5) {
  .zd-progressing__task__dots::before {
    animation-delay: 14s;
  }
  .zd-progressing__task__status {
    animation-delay: 15.5s;
  }
  .zd-progressing__task__name {
    animation-delay: 15s;
  }
}

@keyframes progBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes dotsAnim {
  70% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes doneAnim {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pathAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes nameAnim {
  100% {
    color: var(--accent-1);
  }
}
</style>
