<template>
  <div class="zd-page">
    <head-bar></head-bar>
    <transition name="zd-notification__anim">
      <div class="zd-notification" :class="{'zd-notification--error': toastr.type === 'error'}"
           v-if="toastr.show">
        <div class="zd-notification__cont">
          <p class="zd-text-reg zd-notification__desc" v-html="toastr.text"></p>
        </div>
      </div>
    </transition>
    <main class="zd-main">
      <transition name="fade">
        <p class="zd-spinner" :data-text="spinner.text" v-if="spinner.show"></p>
      </transition>
       <div class="zd-wrap zd-main__cont">
         <router-view/>
       </div>
    </main>
    <footer-bar/>
  </div>
</template>

<script>
import HeadBar from '../components/app/layout-partials/HeadBar.vue';
import FooterBar from '../components/app/layout-partials/FooterBar.vue';

import { mapGetters } from 'vuex';

export default {
  name: 'app-layout',
  components: {
    HeadBar,
    FooterBar,
  },
  data() {
    return {

    };
  },
  created() {
    if (!localStorage.getItem('login')) this.$router.push({ name: 'login' });
  },
  computed: {
    ...mapGetters({
      toastr: 'toastr/toastr',
      spinner: 'spinner'
    }),
    // spinner() {
    //   return this.$store.getters.spinner;
    // },
    // toastr() {
    //   return this.$store.getters.toastr;
    // },
  },
};
</script>

<style lang="scss">
  .fade-leave-active {
    transition: opacity .35s, transform 0.4s;
  }
  .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    transform: scale(0.95);
    opacity: 0;
  }
</style>
