<template>
  <div class="zd-auth">
    <div class="zd-auth__left">
      <div class="zd-auth__cont">
        <i class="zd-icons bg-zd-logo"></i>
        <router-view/>
      </div>
    </div>
    <div class="zd-auth__right" ref="authRight">
      <canvas ref="canvas"></canvas>
    </div>
  </div>
</template>

<script>
import AuthAnim from '@/assets/js/authAnim';

export default {
  name: 'auth-layout',
  data() {
    return {
    };
  },
  mounted() {
    AuthAnim(this.$refs.authRight, this.$refs.canvas);
  },
};

</script>

<style>

</style>
