<template>
    <div>
      <!--Landing-->
      <hr>
      <div><router-link :to="{name: 'login'}">Login</router-link></div>
      <hr>
      <div><router-link :to="{name: 'app'}">List of models</router-link></div>
    </div>
</template>

<script>
export default {
  name: 'landing-layout',
};
</script>

<style scoped>

</style>
