.zd-auth {
  display: flex;
  width: 100%;
  min-height: 100vh;
  &__left,
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__right {
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: normal, color, normal;
    background-image: linear-gradient(0deg, rgba(74, 116, 225, 0.47), rgba(74, 116, 225, 0.47)), linear-gradient(316.59deg, #4A21ED 0.8%, rgba(159, 192, 255, 0.48) 94.97%),  url('./assets/img/zd-auth-bg.jpg');
    svg{
      animation: zd-auth-svg 60s linear infinite;
    }
  }
  &__cont {
    padding: 40px;
    max-width: 420px;
    width: 100%;
    .bg-zd-logo {
      width: 173px;
      height: 41px;
      margin-bottom: 40px;
    }
  }
  &__email {
    color: var(--accent-7);
  }
  .zd-input-text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .zd-checkbox {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    span {
      margin-right: 5px;
    }
  }
  .zd-btn {
    width: 100%;
    margin-bottom: 30px;
  }
}

@keyframes zd-auth-svg{
  0%, 100%{
    transform: scale(1) rotate(-10deg);
  }
  50%{
    transform: scale(1.2) rotate(10deg);
  }
}
