.zd-data-qual-prof {
  --cellSizeMin: 135px;
  --cellSizeMax: 300px;
  padding: 0 50px;
  &__header {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: var(--accent-7);

    .bg-envelope{
      width: 37px;
      height: 28px;
      margin-right: 25px;
    }
  }
  &__title {
    color: var(--accent-2);
  }
  &__metric {
    border-radius: 3px;
    display: flex;
    background-color: var(--yellow-2);
    padding: 10px 10px;
    margin-bottom: 30px;
    &__item {
      border-right: 1px solid var(--accent-4);
      padding: 0 10px;
      flex: 1;
      &:last-of-type {
        border-right: none;
      }
    }
  }
  &__fields {
    padding-bottom: 30px;
    &__list {
      display: flex;
      margin: 0 -8px;
      &__item {
        padding: 0 8px;
        min-width: calc(var(--cellSizeMin) + 16px);
        max-width: calc(var(--cellSizeMax) + 16px);
        width: 100%;
        .zd-drop-down {
          font-size: 18px;
        }
        &:first-of-type{
          margin-left: 50px;
        }
      }
    }
  }
  &__table {
    .zd-input-text {
      font-size: 18px;
      min-width: var(--cellSizeMin);
      max-width: var(--cellSizeMax);
      width: 100%;
      input {
        padding-left: 40px;
      }
    }
    .zd-checkbox {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    th{
      padding-right: 16px;
      &:last-of-type{
        padding-right: 0;
      }
    }
    td {
      min-width: calc(var(--cellSizeMin) + 16px);
      max-width: calc(var(--cellSizeMax) + 16px);
      &:last-of-type{
        max-width: var(--cellSizeMax);
        min-width: var(--cellSizeMin);
      }
    }

    th:first-of-type,
    td:first-of-type{
      width: 50px;
      min-width: 50px; 
      text-align: left;
    }
  }

  &__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 30px;

    .zd-btn{
      padding: 0 4.3em;
    }
  }
}