.zd-footer{
  background-color: #EDEDED;

  &__cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__copyright{
    color: var(--accent-7);
  }

  &__sup-help{
    color: var(--accent-2);
    transition: color .2s;
    &:hover{
      color: var(--accent-3);
    }
    svg{
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      transition: stroke .2s;
    }
  }
}