@import "../common/mixins.scss";
.zd-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.zd-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
}

.zd-center-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zd-icons {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.zd-container {
  background-color: var(--white);
  border: 1px solid var(--accent-4);
  border-radius: 6px;

  &--med {
    max-width: 630px;
    width: 100%;
  }

  &__inner{
    padding: 20px 50px;
  }

  &__title{
    color: var(--accent-2);
    text-align: center;
  }
}

.zd-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zd-link {
  font-size: 16px;
  color: var(--accent-2);
  transition: filter 0.2s, color 0.2s;
  &--arrow-left::before,
  &--arrow-right::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5h9.75M7.675 9.275L11.875 5 7.675.725' stroke='%23416EE0' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &--arrow-left::before {
    margin-right: 8px;
    transform: rotate(180deg);
  }
  &--arrow-left:hover::before {
    transform: translateX(-3px) rotate(180deg);
  }
  &--arrow-right:hover::after {
    transform: translateX(3px);
  }
  &--gray{
    color: var(--accent-7);
  }

  &:hover {
    filter: brightness(150%);
  }
}

.zd-title-text {
  padding-bottom: 20px;
}

.zd-subtitle-text {
  padding-bottom: 10px;
}

.zd-separ {
  border-bottom: 1px solid var(--accent-5);
}

.zd-img-stub {
  background-color: var(--accent-5);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='26' height='34' viewBox='0 0 26 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 14a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm0 20l13-1.5C26 23.387 20.18 16 13 16S0 23.387 0 32.5L13 34z' fill='%239DB6D2'/%3E%3C/svg%3E");
}

.zd-btn {
  --mainColor: var(--accent-2);
  --secColor: var(--accent-6);
  --backgroundColor: var(--mainColor);
  --backgroundHoverColor: var(--secColor);
  --textColor: var(--white);
  --textColorHover: var(--white);
  --border: none;
  --borderHover: none;
  display: block;
  max-width: 300px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  font-weight: 600;
  height: 3em;
  line-height: 3em;
  border-radius: 3px;
  padding: 0 2em;
  transition: background 0.2s, color 0.2s, border 0.2s;
  font-size: 16px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border: var(--border);
  input {
    display: none;
  }
  &:hover {
    background-color: var(--backgroundHoverColor);
    border-color: var(--borderHover);
    color: var(--textColorHover);
  }
  &[disabled] {
    pointer-events: none;
    filter: brightness(60%) blur(0.5px);
  }
  &--shadow {
    box-shadow: var(--box-shadow);
  }
  &--arrow:hover::after{
    transform: translate(3px, -50%);
  }
  &--arrow::after {
    content: "";
    display: block;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .2s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M25 0H1v24h24z'/%3E%3Cpath d='M1 12h22.05M19.675 16.275l4.2-4.275-4.2-4.275' stroke='%23fff' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &--two-line {
    line-height: normal;
    height: auto;
    padding: 0.7em 2em;
    span {
      display: block;
      text-align: center;
      padding: 0.1em;
    }
  }
  &--cut {
    --mainColor: var(--accent-3);
    --secColor: var(--accent-2);
    --backgroundColor: var(--white);
    --backgroundHoverColor: var(--white);
    --textColor: var(--mainColor);
    --textColorHover: var(--secColor);
    --border: 1px solid var(--mainColor);
    --borderHover: var(--secColor);
  }
}

.zd-input-text {
  --mainColor: var(--accent-4);
  --secColor: var(--accent-3);
  --textColor: var(--accent-1);

  font-size: 20px;
  height: 2em;
  line-height: 2em;
  position: relative;
  display: block;
  input {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 3px;
    border: 1px solid var(--mainColor);
    display: block;
    color: var(--textColor);
    line-height: inherit;
    padding: 0 10px;
    transition: background 0.2s, border-color 0.2s;
    &:focus {
      border-color: var(--secColor);
    }
    @include placeholder {
      font-family: inherit;
      line-height: inherit;
      font-size: inherit;
      color: var(--secColor);
      &:focus {
        color: transparent;
      }
    }
  }

  .message{
    position: absolute;
    top: -17px;
    left: 0;
    color: var(--textColor);
  }

  .message.alert,
  &.alert{
    --mainColor: var(--red-2);
    --secColor: var(--red-1);
    --textColor: var(--red-1);
  }

  &--with-link{
    input{
      padding-right: 70px;
    }
    a{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.zd-input-search{
  --mainColor: var(--accent-1);
  --textColor: var(--mainColor);

  font-size: 20px;
  height: 2em;
  line-height: 2em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  .bg-inpt-search{
    width: 1.5em;
    height: 1.5em;
    transition: opacity .1s .1s;
  }

  input {
    flex: 1;
    height: 100%;
    width: 100%;
    max-width: 150px;
    background-color: transparent;
    display: block;
    border: none;
    color: var(--textColor);
    padding: 0 10px;
    transition: max-width .1s linear;
    &.zd-input-search--focus,
    &:focus{
      max-width: 300px;
      transition: max-width .1s .1s linear;
    }
    &.zd-input-search--focus ~ span,
    &:focus ~ span {
      transform: scaleX(1);
      transition: transform .2s;
    }
    &.zd-input-search--focus ~ i,
    &:focus ~ i{
      opacity: 0;
      transition: opacity .1s;
    }
    @include placeholder {
      font-family: inherit;
      line-height: inherit;
      font-size: inherit;
      color: var(--textColor);
      &:focus {
        color: transparent;
      }
    }
  }

  span{
    position: absolute;
    height: 1px;
    background-color: var(--mainColor);
    display: block;
    bottom: 0;
    right: 0;
    left: 2.5em;
    transition: transform .2s .2s;
    transform-origin: right;
    transform: scaleX(0);
  }
}

.zd-checkbox {
  --mainColor: var(--accent-2);
  --secColor: var(--white);
  & input[type="checkbox"] {
    display: none;
  }
  & span {
    transition: background 0.2s;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    height: 1em;
    width: 1em;
    border: 0.1em solid var(--mainColor);
    border-radius: 2px;
    position: relative;
    vertical-align: middle;
  }
  & span::before {
    content: "";
    display: block;
    opacity: 0;
    transform: scale(0) rotate(-45deg);
    pointer-events: none;
    position: absolute;
    width: 0.6em;
    height: 0.4em;
    top: 0.1em;
    left: calc(50% - 0.3em);
    background-color: transparent;
    border-bottom: 0.1em solid var(--secColor);
    border-left: 0.1em solid var(--secColor);
    transition: opacity 0.2s, transform 0.2s;
  }
  & input[type="checkbox"]:checked + span {
    background-color: var(--mainColor);
  }
  & input[type="checkbox"]:checked + span::before {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
  }
  &.disabled {
    pointer-events: none;
  }
  &.disabled span {
  }
}

.zd-switcher {
  --mainColor: var(--accent-3);
  --secColor: var(--accent-2);
  font-size: 20px;
  cursor: pointer;
  display: block;
  height: 0.8em;
  width: 2em;
  input[type="checkbox"] {
    display: none;
  }
  span {
    display: block;
    position: relative;
    background-color: var(--mainColor);
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    &:before,
    &:after {
      content: "";
      display: block;
      pointer-events: none;
      position: absolute;
    }
    &:before {
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      border-radius: 30px;
      background-color: var(--secColor);
      opacity: 0;
      transition: opacity 0.2s;
    }
    &:after {
      height: 1em;
      width: 1em;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
      top: calc(50% - 0.5em);
      left: -0.2em;
      transition: transform 0.2s;
    }
  }
  input[type="checkbox"]:checked + span {
    &:before {
      opacity: 1;
    }
    &:after {
      transform: translateX(1.2em);
    }
  }
}

.zd-table {
  color: var(--black);
  th,
  td {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  td {
    padding: 12px 16px 12px 0;
    border-bottom: 1px solid var(--accent-5);
    &:last-of-type {
      padding: 12px 0;
    }
  }
}

.zd-prog-bar {
  font-size: 20px;
  height: 0.8em;
  display: block;
  width: 100%;
  border-radius: 3.75em;
  overflow: hidden;
  background-color: var(--accent-5);
  &__value {
    height: 100%;
    background-image: repeating-linear-gradient(
      -45deg,
      var(--accent-2) 0px,
      var(--accent-2) 20px,
      #5d80fe 20px,
      #5d80fe 40px
    );
  }
}

.zd-dropdown {
  --mainColor: var(--accent-4);
  --borderColor: var(--mainColor);
  --arrowColor: var(--mainColor);
  position: relative;
  font-size: 20px;
  height: 2em;
  &.show &__arrow {
    transform: rotate(180deg);
  }
  &.show .zd-dropdown__list {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }
  &__btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
    border-radius: 3px;
    text-align: left;
    z-index: 3;
    background-color: var(--white);
    border: 1px solid var(--borderColor);
  }
  &__name {
    padding-right: 10px;
    pointer-events: none;
  }
  &__arrow {
    display: block;
    width: 1em;
    height: 0.5em;
    position: relative;
    color: var(--arrowColor);
    font-size: 20px;
    overflow: hidden;
    transition: transform 0.2s;
    &:after {
      content: "";
      font-size: inherit;
      display: block;
      position: absolute;
      border-bottom: 0.1em solid var(--arrowColor);
      border-right: 0.1em solid var(--arrowColor);
      width: 0.6em;
      height: 0.6em;
      bottom: 0.1em;
      left: calc(50% - 0.3em);
      transform: rotate(45deg);
      transition: background 0.2s;
    }
  }
  &__list {
    pointer-events: none;
    width: 100%;
    background-color: var(--white);
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(-20px);
    opacity: 0;
    position: relative;
    z-index: 2;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
  }
  &__option {
    cursor: pointer;
    overflow: hidden;
    padding: 0.5em;
    transition: background 0.2s;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 1px solid var(--borderColor);
    &:hover {
      background-color: var(--accent-5);
    }
  }
  & li:last-of-type .zd-dropdown__option {
    border-bottom: none;
  }

  &--shadow{
    .zd-dropdown__list{
      box-shadow: var(--box-shadow);
    }
  }
}

.zd-spinner {
  //position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,.9);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &::after {
    display: block;
    content: attr(data-text);
  }

  &::before{
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='35' height='41' viewBox='0 0 35 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E@keyframes pathAnim{to{stroke-dashoffset: 0;}}%3C/style%3E%3Cpath d='M13 38l19.627-10.68-28.77 1.116M13 38L27.77 9.82M13 38l-9.143-9.564M27.77 9.82L2.5 4.5l20.786-2.128m4.483 7.447l-4.483-7.447m0 0L3.857 28.436' stroke='%23416EE0' stroke-width='2' stroke-miterlimit='10' stroke-linejoin='round' style='animation:pathAnim 1s ease infinite alternate' stroke-dasharray='50' stroke-dashoffset='50'/%3E%3Cpath d='M5.241 5.164c0-1.172-.953-2.13-2.12-2.147A2.08 2.08 0 0 0 1 5.1c0 1.173.953 2.13 2.12 2.148a2.08 2.08 0 0 0 2.12-2.085zM25.033 3.164c0-1.172-.954-2.13-2.12-2.147A2.08 2.08 0 0 0 20.791 3.1c0 1.173.953 2.13 2.12 2.148a2.08 2.08 0 0 0 2.12-2.085zM29.516 9.867c0-1.173-.953-2.13-2.12-2.148a2.08 2.08 0 0 0-2.121 2.084c0 1.173.954 2.13 2.12 2.148a2.08 2.08 0 0 0 2.121-2.084zM34 26.994c0-1.172-.954-2.13-2.12-2.147a2.08 2.08 0 0 0-2.122 2.084c0 1.172.954 2.13 2.121 2.147A2.08 2.08 0 0 0 34 26.994zM15.241 37.164c0-1.172-.953-2.13-2.12-2.147A2.08 2.08 0 0 0 11 37.1c0 1.173.953 2.13 2.12 2.148a2.08 2.08 0 0 0 2.12-2.085zM6.351 28.484c0-1.173-.953-2.13-2.12-2.148A2.08 2.08 0 0 0 2.11 28.42c0 1.173.954 2.13 2.12 2.148a2.08 2.08 0 0 0 2.121-2.084z' fill='%23fff' stroke='%23416EE0' stroke-width='2' stroke-miterlimit='10' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}

.zd-notification{
  --mainColor: var(--accent-2);
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 4;

  &__cont{
    color: var(--white);
    background-color: var(--mainColor);
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  &__desc{
    display: inline-block;
    &::before{
      display: inline-block;
      content: '';
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 5px;
      vertical-align: sub;
    }
  }

  &--error{
    --mainColor: var(--red-1);

    .zd-notification__desc::before{
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 512 512' xml:space='preserve' width='512' height='512'%3E%3Cpath d='M505.403 406.394L295.389 58.102c-8.274-13.721-23.367-22.245-39.39-22.245s-31.116 8.524-39.391 22.246L6.595 406.394c-8.551 14.182-8.804 31.95-.661 46.37 8.145 14.42 23.491 23.378 40.051 23.378h420.028c16.56 0 31.907-8.958 40.052-23.379 8.143-14.421 7.89-32.189-.662-46.369zm-28.364 29.978a12.684 12.684 0 0 1-11.026 6.436H45.985a12.68 12.68 0 0 1-11.025-6.435 12.683 12.683 0 0 1 .181-12.765L245.156 75.316A12.732 12.732 0 0 1 256 69.192c4.41 0 8.565 2.347 10.843 6.124l210.013 348.292a12.677 12.677 0 0 1 .183 12.764z' fill='%23FFF'/%3E%3Cpath d='M256.154 173.005c-12.68 0-22.576 6.804-22.576 18.866 0 36.802 4.329 89.686 4.329 126.489.001 9.587 8.352 13.607 18.248 13.607 7.422 0 17.937-4.02 17.937-13.607 0-36.802 4.329-89.686 4.329-126.489 0-12.061-10.205-18.866-22.267-18.866zM256.465 353.306c-13.607 0-23.814 10.824-23.814 23.814 0 12.68 10.206 23.814 23.814 23.814 12.68 0 23.505-11.134 23.505-23.814 0-12.99-10.826-23.814-23.505-23.814z' fill='%23FFF'/%3E%3C/svg%3E");
    }
  }

  &__anim{
    &-enter,
    &-leave-to{
      transform: translateY(-100%);
    }
    &-enter-to,
    &-leave{
      transform: translateY(0);
    }
    &-enter-active,
    &-leave-active{
      transition: transform .2s;
    }
  }
}

.paginate-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 20px;
  li{
    margin: 0 0.2em;
  }
  .number {
    width: 2em;
    height: 2em;
    line-height: 2em;
    color: var(--accent-2);
    &.active {
      pointer-events: none;
      color: var(--accent-1);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      transition: border-color 0.2s;
      font-size: 16px;
      font-weight: 600;
      color: currentColor;

      &:hover {
        border-color: var(--accent-2);
      }
    }
  }

  .left-arrow,
  .right-arrow {
    width: 1.6em;
    height: 1.6em;
    transition: transform .2s;

    a {
      display: block;
      color: transparent;
      font-size: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M1 0h32v32H1z'/%3E%3Cpath d='M1.1 16h29.5M26 21.7l5.7-5.7-5.7-5.7' stroke='%23416EE0' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    &.disabled{
      display: none;
    }
  }
  .right-arrow:hover {
    transform: translateX(5px);
  }
  .left-arrow a {
    transform: rotate(180deg);
  }
  .left-arrow:hover {
    transform: translateX(-5px);
  }
}
