.zd-header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid var(--accent-5);

  &__cont {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__left{
    display: flex;
    flex: 1;
  }

  &__nav{
    &__list{
      display: flex;
      height: 100%;
      align-items: center;
      &__item{
        padding: 0 30px;
      }
    }

    &__link{
      color: var(--black);
      transition: color 0.2s;

      &:hover{
        color: var(--accent-2);
      }
      
    }
  }

  &__logo {
    width: 178px;
    height: 59px;
    display: block;
    margin-right: 10%;
  }
}
