.zd-model {
  width: calc(100% - 290px);
  padding: 30px 50px 0;
  display: inline-block;
  &__title {
    color: var(--accent-2);
    display: flex;
    align-items: center;
    height: 100px;
    .bg-envelope {
      width: 49px;
      height: 37px;
      margin-right: 25px;
    }
  }
  &__run-desc {
    display: flex;
    padding: 20px 0;
  }
  &__desc {
    flex: 2;
    padding-right: 30px;
    .zd-text-sub {
      white-space: pre-wrap;
      color: var(--accent-7);
    }
  }
  &__run {
    flex: 1;
    .zd-btn:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__table {
    padding: 20px 0;
    table {
      width: 100%;
    }
    th,
    td {
      padding: 12px 16px;
      text-align: left;
    }
    th {
      background-color: var(--yellow-2);
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 150px;
      max-width: 150px;
    }
    td:nth-child(2),
    th:nth-child(2),
    td:nth-child(3),
    th:nth-child(3),
      {
      width: 100px;
      max-width: 100px;
      text-align: right;
    }
    th:nth-child(5),
    td:nth-child(5) {
      max-width: 100px;
      width: 100px;
      text-align: right;
      .zd-icons {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 15px;
      }
    }
  }
}

.zd-recent-models {
  display: inline-block;
  width: 280px;
  padding: 100px 30px 30px;
  position: sticky;
  top: 0;
  vertical-align: top;

  &__list{
    &__item{
      padding: 15px 0;
      border-bottom: 1px solid var(--accent-4);
    }
  }

  &__link{
    display: block;
    padding-right: 30px;
    position: relative;
    color: var(--accent-1);
    &::after{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover::after{
      transform: translate(3px, -50%);
    }
  }
}
