.zd-models-list{
  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

    .zd-dropdown {
      width: 300px;
    }

    .zd-input-search{
      font-size: 12px;
    }
  }

  &__title{
    color: var(--accent-2);
  }

  &__grid{
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  &__block{
    padding: 20px;
    transition: box-shadow .2s;
    &__info{
      display: flex;
      justify-content: space-between;
      color: var(--accent-2);

      &__files{
        .zd-icons{
          width: 24px;
          height: 18px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }

    &:hover{
      box-shadow: var(--box-shadow);
    }

    &__desc {
      white-space: pre-wrap;
    }
  }
}
