.zd-progressing {
  text-align: center;

  .bg-note {
    width: 56px;
    height: 72px;
    display: block;
    margin: 0 auto 25px;
  }

  .bg-cloud-shape {
    width: 100px;
    height: 80px;
    display: block;
    margin: 0 auto 10px;
  }

  &__file {
    span:last-of-type {
      margin-left: 20px;
      color: var(--accent-4);
    }
  }

  .zd-prog-bar {
    margin-bottom: 30px;
  }

  &__task-list {
    &__item {
      height: 40px;
      display: flex;
      align-items: center;
    }
  }

  &__task {
    &__name {
      flex: 1;
      text-align: left;
      padding-right: 10px;
    }

    &__dots {
      height: 100%;
      flex-basis: 150px;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 70%;
        bottom: 15px;
        background-image: repeating-linear-gradient(to right, transparent 0, transparent 2px, var(--accent-1) 2px, var(--accent-1) 4px);
        transition: transform .5s;
      }
    }

    &__icon {
      width: 20px;
      margin-left: 10px;

      &>svg {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__status {
      padding-left: 10px;
      flex: none;
      text-align: left;
    }
  }

  &__footer {
    padding: 20px 50px;
    border-top: 1px solid var(--accent-5);
  }
}
