html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    vertical-align: baseline;
    /*background: transparent;*/
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
    display: block;
}
html {
    box-sizing: border-box;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
}
img,
object,
embed {
    max-width: 100%;
}

fieldset,
img {
    border: 0;
}
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-weight: bold;
    vertical-align: bottom;
}
td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select,
textarea {
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 0;
}

pre {
    white-space: pre-line;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
input::-ms-clear {
    display: none;
}
figure {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
}
[type=reset],
[type=submit] {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

input::-webkit-date-and-time-value {
    margin: 0;
}

input[type='radio'] {
    vertical-align: text-bottom;
}
input[type='checkbox'] {
    vertical-align: bottom;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td,
td,
img {
    vertical-align: top;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

pre,
code,
kbd,
samp {
    font-family: monospace, sans-serif;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    outline: none;
}

button,
input[type=button] {
    width: auto;
    overflow: visible;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0;
    padding: 0;
}

/*remove dotted outline/border in Firefox*/
a,
button::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/*edge input reset*/ 

input::-ms-reveal,
input::-ms-clear {
  display: none; }