.zd-summary{
  text-align: center;
  .bg-two-clouds{
    width: 90px;
    height: 65px;
    display: block;
    margin: 15px auto;
  }

  &__table{
    width: 100%;
    th,td{
      font-family: inherit;
      font-size: inherit;
      padding: 5px 5px 5px 0;
    }
    th{
      color: var(--accent-3);
    }

    td span{
      display: flex;
      text-align: inherit;
      align-items: baseline;
    }
    th:nth-of-type(1),
    td:nth-of-type(1),
    th:nth-of-type(2),
    td:nth-of-type(2){
      max-width: 150px;
      width: 150px;
      text-align: left
    }

    td:nth-of-type(1),
    td:nth-of-type(2){
      span:after{
        content: '';
        display: block;
        flex: 1;
        margin-left: 5px;
        height: 1px;
        background-image: repeating-linear-gradient(to right, transparent 0, transparent 3px, var(--accent-4) 3px, var(--accent-4) 4px);
      }
    }

    th:nth-of-type(3),
    td:nth-of-type(3){
      text-align: right;
      span:before{
        content: '';
        display: block;
        flex: 1;
        margin-right: 5px;
        height: 1px;
        background-image: repeating-linear-gradient(to right, transparent 0, transparent 3px, var(--accent-4) 3px, var(--accent-4) 4px);
      }
    }
  }

  &__footer{
    border-top: 1px solid var(--accent-5);
    background-color: rgba(#416EE0, 0.07) ;
    padding: 30px 50px 20px;

    .zd-btn{
      display: block;
      margin: 0 auto 30px;
    }
  }
}