@import "variables";
html,
button,
input, 
a {
  font-family: 'Poppins', sans-serif;
  color: var(--accent-1);
}

.zd-head-h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5em;
}

.zd-head-h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4em;
}

.zd-head-h3 {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 28px;
}

.zd-head-h4 {
  font-weight: 600;
  line-height: 0.8em;
  font-size: 24px;
}

.zd-head-h5 {
  font-weight: 600;
  line-height: 1.2em;
  font-size: 20px;
}

.zd-head-h6 {
  font-weight: 600;
  line-height: 1.5em;
  font-size: 16px;
}

.zd-text-lead{
  font-size: 20px;
  line-height: 1.5em;
}

.zd-text-reg{
  font-size: 16px;
  line-height: 1.5em;
}

.zd-text-sub{
  font-size: 14px;
  line-height: 1.5em;
}

.zd-text-annot{
  font-size: 12px;
  line-height: 1.5em;
}

.zd-text-elips{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.zd-text-upper{
  text-transform: uppercase;
}