// Media queries breakpoints
$extratiny:     320px;
$tiny:          576px;
$small:         768px;
$medium:        992px;
$large:         1200px;
$extraLarge:    1600px;

// Colors
/* $acent-1:    #28113E;
$acent-2:    #683687; 
$acent-3:    #B3A3C4;
$acent-4:    #DDD4E5;
$acent-5:    #F2EEF6;
$black:      #222222;
$white:      #ffffff;
$red:        #EB5757;
$green:      #55E485;
$yellow:     #FFC700; */

:root{
  --accent-1:    #11233E;
  --accent-2:    #4164E0; 
  --accent-3:    #6A7D92;
  --accent-4:    #D4D9E5;
  --accent-5:    #F2EEF6;
  --accent-6:    #87C5F2;
  --accent-7:    #797181;
  
  --black:       #222222;
  --white:       #ffffff;
  --red-1:       #eb5757;
  --red-2:       #ff9191;
  --green:       #55E485;
  --yellow-1:    #FFC700;
  --yellow-2:    #FFE5BD;

  --box-shadow:   0px 4px 10px rgba(55, 1, 88, 0.16);
}