<template>
<form>
    <h2 class="zd-head-h2 zd-title-text">Forgot password</h2>
    <p class="zd-text-sub zd-subtitle-text">Enter your email</p>
    <label class="zd-input-text">
      <input type="email" placeholder="Email">
    </label>
    <button class="zd-btn zd-btn--shadow" type="submit">Submit</button>
    <p class="zd-head-h6">Already have an account?
      <router-link :to="{name: 'login'}" class="zd-link">Login</router-link>
    </p>
  </form>
</template>

<script>
export default {
  name: 'forgot-password',
};
</script>

<style>

</style>
