<template>
  <form @submit.prevent="login">
    <h2 class="zd-head-h2 zd-title-text">Login</h2>
    <label class="zd-input-text">
      <input type="email" placeholder="Email" v-model="auth.login.value"
             :class="{'alert' : auth.login.error}">
      <span class="zd-text-annot zd-text-elips message alert" v-if="auth.login.error">{{auth.login
        .error}}</span>
    </label>
    <label class="zd-input-text zd-input-text--with-link">
      <input type="password" placeholder="Password" v-model="auth.pass.value"
             :class="{'alert' : auth.pass.error}">
      <span class="zd-text-annot zd-text-elips message alert" v-if="auth.pass.error">{{auth.pass
        .error}}</span>
      <router-link class="zd-link" :to="{name: 'forgot-password'}">Forgot</router-link>
    </label>
    <label class="zd-checkbox">
      <input type="checkbox">
      <span></span>
      Remember me
    </label>
    <button class="zd-btn zd-btn-shadow" type="submit">Submit</button>
    <!--<router-link :to="{name: 'register'}">Register</router-link>-->
    <!--<router-link :to="{name: 'registerPass'}">Register Pass</router-link>-->
  </form>
</template>

<script>
import parameters from "@/configs/parameters";

export default {
  name: 'login',
  data() {
    return {
      auth: {
        login: {
          value: '',
          error: '',
        },
        pass: {
          value: '',
          error: ''
        }
      }
    };
  },
  created() {
    localStorage.removeItem('login');
  },
  methods: {
    login() {
      if (this.auth.login.value !== parameters.auth.log ) {
        this.auth.login.error = 'Invalid username';
        localStorage.removeItem('login');
        return false;
      } else {
        this.auth.login.error = '';
      }
      if (this.auth.pass.value !== parameters.auth.pass ) {
        this.auth.pass.error = 'Invalid password';
        localStorage.removeItem('login');
        return false;
      } else {
        this.auth.pass.error = '';
      }
      localStorage.setItem('login', '1');
      this.$router.push({ name: 'modelsList' });
    },
  },
};
</script>

<style>

</style>
