<template>
  <form>
    <h2 class="zd-head-h2">Welcome</h2>
    <p class="zd-text-elips zd-text-reg zd-title-text zd-auth__email">somemail@mail.com</p>
    <p class="zd-text-sub zd-subtitle-text">Create new password</p>
    <label class="zd-input-text">
      <input type="password" autocomplete="off" placeholder="Password">
    </label>
    <p class="zd-text-sub zd-subtitle-text">Confirm new password</p>
     <label class="zd-input-text">
      <input type="password" autocomplete="off" placeholder="Confirm">
    </label>
    <button class="zd-btn zd-btn--shadow" type="submit">Submit</button>
    <p class="zd-head-h6">Already have an account?
      <router-link :to="{name: 'login'}" class="zd-link">Login</router-link></p>
  </form>
</template>

<script>
export default {
  name: 'register-pass',
};
</script>

<style>

</style>
