<template>
  <form>
    <h2 class="zd-head-h2 zd-subtitle-text">Reset password</h2>
    <p class="zd-text-elips zd-text-reg zd-title-text zd-auth__email">somemail@mail.com</p>
    <p class="zd-text-sub zd-subtitle-text">Create new password</p>
    <label class="zd-input-text">
      <input type="password" autocomplete="off" placeholder="Password">
    </label>
    <p class="zd-text-sub zd-subtitle-text">Confirm new password</p>
    <label class="zd-input-text zd-input-text--with-link">
      <input type="password" autocomplete="off" placeholder="Confirm">
    </label>
    <button class="zd-btn zd-btn-shadow" type="submit">Submit</button>
    <router-link :to="{name: 'register'}">Register</router-link>
    <router-link :to="{name: 'registerPass'}">Register Pass</router-link>
  </form>
</template>

<script>
export default {
  name: 'reset-password',
};
</script>

<style scoped>

</style>
