<template>
  <div class="zd-dropdown" ref="dropdown" :class="{'show': isShow}">
    <button type="button"
            class="zd-dropdown__btn"
            @click.self="toggleDropdown"
            ref="button">
      <span class="zd-text-sub zd-dropdown__name zd-text-elips">{{selected}}</span>
      <i class="zd-dropdown__arrow"></i>
    </button>
    <ul class="zd-dropdown__list" ref="listContent">
      <li v-if="noSelect"><span class="zd-text-sub zd-text-elips zd-dropdown__option"
                @click="selectItem({name: 'No selected', value: null})">No selected</span></li>
      <li v-for="(item, index) in list" :key="index">
        <span class="zd-text-sub zd-text-elips zd-dropdown__option"
              @click="selectItem(item)">{{item.name}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import generateEvent from '@/assets/js/createNewEvent';
import findParent from '@/assets/js/findParent';

export default {
  name: 'dropdown',
  props: {
    defaultSelected: {
      type: Number,
      default: null,
    },
    noSelect: {
      type: Boolean,
      default: true,
    },
    title: {
      type: String,
      default: 'Select',
    },
    list: Array,
  },
  data() {
    return {
      isTouchDevice: !!('ontouchstart' in window || navigator.maxTouchPoints),
      isShow: false,
      selected: this.title,
    };
  },
  mounted() {
    window.addEventListener('dropdown-open', this.handlerOpenEvent);
    if (this.isTouchDevice) {
      window.addEventListener('touchend', this.handlerOutClick);
    } else {
      window.addEventListener('click', this.handlerOutClick);
    }
    if (this.defaultSelected >= 0 || !this.title) this.prepareDefaultSelect();
  },
  destroyed() {
    window.removeEventListener('dropdown-open', this.handlerOpenEvent);
    if (this.isTouchDevice) {
      window.removeEventListener('touchend', this.handlerOutClick);
    } else {
      window.removeEventListener('click', this.handlerOutClick);
    }
  },
  methods: {
    toggleDropdown(e) {
      const parent = this.$refs.dropdown;

      if (!this.isShow) {
        generateEvent(window, 'dropdown-open', {
          elem: parent,
        });
      } else {
        generateEvent(window, 'dropdown-close', {
          elem: parent,
        });
      }

      this.isShow = !this.isShow;

      if (e) e.stopPropagation();
    },
    selectItem(item, isToggle = true, isSend = true) {
      this.$emit('select', {value: item.value, store: isSend});
      this.selected = item.name;

      if (isToggle) this.toggleDropdown();
    },
    handlerOutClick(e) {
      if (
        findParent(e.target, this.$refs.button) ||
        !findParent(e.target, this.$refs.listContent)
      ) {
        this.isShow = false;
      }
    },
    handlerOpenEvent(e) {
      if (e.detail.elem !== this.$refs.dropdown && this.$refs.dropdown) {
        this.isShow = false;
      }
    },
    prepareDefaultSelect() {
      if (this.defaultSelected !== null && this.defaultSelected < this.list.length) {
        const index = this.defaultSelected;

        this.selectItem(this.list[index], false, false);
      } else {
        this.selectItem({name: 'No selected', value: null}, false);
      }
    },
  },
  watch: {
    defaultSelected() {
      if (this.defaultSelected !== null) {
        const index = this.defaultSelected;

        this.selectItem(this.list[index], false, false);
      } else {
        this.selectItem({name: 'No selected', value: null}, false, false);
      }
    },
  },
};
</script>

<style lang="scss">
</style>
