<template id="modal-template">
  <transition name="modal">
    <div class="modal-mask" @click="closeOutside($event)">
      <div class="modal-wrapper">
        <div class="modal-container" :class="size" ref="container">
          <slot></slot>
            <button v-if="params.closeBtn" class="modal__close-btn" type="button" @click.stop="closeModal">
              <i class="icons bg-close-btn"></i>
            </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "modal-window",
  props: {
    params: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  },
  methods: {
    closeOutside (e) {
      if(!this.$refs.container.contains(e.target)) {
        this.closeModal();
      }
    },
    closeModal () {
      this.$emit("close-modal");
    }
  },
  computed: {
    size() {
      switch (this.params.size) {
        case "large":
          return { large: true };
        case "small":
          return { small: true };
      }
    }
  },
};
</script>

<style lang='scss'>
@import "@/assets/scss/common/variables.scss";
.modal {
  &-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    transition: opacity 0.3s ease;
    padding: 20px;
  }

  &-wrapper {
    margin: auto;
    width: 100%;
  }
  &-container {
    margin: auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: relative;

    .photos__list {
      max-height: 70vh;
      overflow-y: auto;
    }

    .search-input {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .link-input__title {
      text-align: center;
    }

    &.large {
      max-width: 900px;
    }

    &.small {
      max-width: 500px;
    }
  }

  &__title {
    padding: 0 45px 15px;
    text-align: center;

    .bg-share {
      display: inline-block;
      vertical-align: middle;
      width: 31px;
      height: 36px;
      margin-right: 15px;
    }
  }

  &__btns {
    display: flex;
    margin: 0 -10px;
    .btn {
      margin: 0 10px;
      flex: 1;
      flex-basis: 150px;
    }
  }

  &__aria {
    background-color: $gray;
    border-radius: 3px;
    padding: 15px;

    ul {
      max-height: 250px;
      overflow-y: auto;
    }
    &__title {
      color: $grayText;
      padding-bottom: 10px;
    }
  }

  &__line {
    border-top: $border;
    display: block;
    margin: 15px -20px;
    width: auto;
  }

  &__close-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(250%);
    }
  }

  &__done-btn {
    width: 140px;
    margin: 0 auto;
  }
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>


